/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.background-image-btn {
	bottom: 3rem;
	left: 3rem;
	position: absolute;
}
